*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
.DS_Store*
/.well-known
__MACOSX
/*.txt
*.cache
*.orig
*.swp
*.swo
/.idea
/bitrix
/test
/upload
.mc
sitemap_*.xml
/*.tar.gz
Thumbs.db
/*.dt
/*.gz
/*.tar
/*.bak
/*.old
/*.log
/*.sql
/.htaccess*
/restore.php
/bitrixsetup.php